.admin-layout {
    display: flex;
    height: 100vh;
    background-color: #f8fafc;
}

.admin-sidebar {
    flex-shrink: 0;
}

.admin-content {
    flex-grow: 1;
    padding: 5px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .admin-layout {
        flex-direction: column;
    }
}