:root {
    color: white;
}

.image {
    height: inherit;
    width: 41%;
}

.image img {
    height: 400px;
    width: 360px;
    margin: 0 auto;
}

.register_container {
    background-color: rgba(115, 184, 91, 1);
    max-width: 50%;
    height: 62vh;
    margin: 130px auto;
    display: flex;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.18);
    line-height: 40px;

}

.Register-from {
    height: auto;
    width: 59%;
    text-align: center;
    padding: 15px 30px;
}

.Register-from h2 {
    color: white;
    font-size: 45px;
}

.Register-from .sub {
    color: white;
    margin-top: -30px;
    font-size: 20px;
}

.Register-from #UserName,
#email,
#password,
#confirm_pass {
    height: 43px;
    width: 300px;
    border: none;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.18);
    margin-bottom: 15px;
    border-radius: 4px;
}

.Register-from .password {
    height: 6vh;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#UserName,
#email,
#password,
#confirm_pass {
    outline: none;
    text-indent: 10px;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 365px;
    margin: 0 auto;
}

.box {
    margin: 0;
    display: flex;
    align-items: center;
}
/* 
.box input[type="checkbox"] {
    margin-right: 7px;
} */

.register {
    width: 125px;
    height: 45px;
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    font-family: inria sans;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease-in-out;
}

.register:hover {
    background-color: white;
    color: rgba(115, 184, 91, 1);
    cursor: pointer;
}

.foote p a {
    color: red;
    font-weight: 800;
}