/* Sidebar Base Styles */
.sidebar {
    background-color: skyblue;
    color: white;
    height: 100vh;
    transition: width 0.3s ease-in-out;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Open Sidebar */
.sidebar.open {
    width: 300px;
    align-items: flex-start;
}

/* Closed Sidebar */
.sidebar.closed {
    width: 70px;
    padding: 1rem 0.5rem;
}

/* Sidebar Header */
.sidebar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.sidebar.closed .sidebar-header {
    justify-content: center;
    margin-bottom: 30px;
}

/* Sidebar Title */
.sidebar-title {
    font-size: 1.8 rem;
    font-weight: bold;
}

/* Menu Button */
.menu-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    transition: transform 0.3s;
    margin-top: 6px;
}

/* Sidebar Navigation */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: background 0.3s;
    width: 100%;
}

/* Hover Effect */
.sidebar-link:hover {
    background-color: white;
    color: gray;
    font-weight: bold;
}

/* Active Link */
.sidebar-link.active {
    background-color: white;
    /* Tailwind green-500 */
    color: gray;
    font-weight: bold;
}

/* Closed Sidebar - Hide Text */
.sidebar.closed .sidebar-link span {
    display: none;
}

/* Center Icons in Closed Sidebar */
.sidebar.closed .sidebar-link {
    justify-content: center;
}